{% extends "base.html" %}

{% block styles %}
<link href="{{url_for('static', filename='notepage.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='note-base.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">
  <section class="header">
    <form action="/Account_Settings">
      <button class="button" type="submit">Account Settings <i class="fa-solid fa-user-gear"></i></button>
    </form>
  </section>

  <section class="buttonmenu">
    <form action="/Home">
      <button class="button" role="button">Back</button>
    </form>
  </section>

  <section class="main">
    <form class="deletenote" action="/Update_Note/{{note.id}}" method="post">
      <input type="text" aria-label="Edit Note Title" name="title" class="title" value="{{ note.title }}"
      required="required">
      <br>
      <textarea type="text" aria-label="Edit Note Contents" name="content" class="content" required="required" cols="70"
        rows="26">{{ note.content }}</textarea>
      <br>
      <button class="button" role="button"> Update Note</button>
    </form>
<!--     <form action="/Update_Note/{{note.id}}">
      <input type="text" aria-label="Edit Note Title" name="title" class="title" value="{{ note.title }}"
        required="required">
      <br>
      <textarea type="text" aria-label="Edit Note Contents" name="content" class="content" required="required" cols="70"
        rows="26">{{ note.content }}</textarea>
      <br>
      <button type="submit" class="button">Save Changes</button>
    </form> -->

    <form action="/View_Note/{{note.id}}">
      <button class="button" role="button">Discard Changes</button>
    </form>
  </section>

</div>
{% endblock %}