{% extends "base.html" %}

{% block styles %}
<link href="static/css/mainpage.css" rel="stylesheet">
<link href="static/media/mainpagemedia.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">
  <section class="menu">
    <div class="buttongroup">
      <a class="button" href="{{ url_for('web.Create_Note')}}">New Note <i
          class="fa-solid fa-pen-to-square icon"></i></a>
      <a class="button" href="{{ url_for('web.Account_Settings')}}"> Account Settings <i
          class="fa-solid fa-user-gear icon"></i></a>
      <a class="button" href="{{ url_for('data.Logout')}}"> Logout <i
          class="fa-solid fa-right-from-bracket icon"></i></a>
    </div>
  </section>

  <section class="todo">
    {% for task in tasks %}
    <div class="task-element">
      <ol>
        <li class="tasks">
          {{ task.taskname }}
          <p></p>
          {{ task.duedate.strftime('%d-%m-%Y %H:%M:%S') }}
        </li>

        <li class="task-button">
          <form class="deletetask" action="/Delete_Task/{{task.id}}" method="POST">
            <button class="button" type="submit"><i class="fa-solid fa-trash-can"></i></button>
          </form>
        </li>
      </ol>
    </div>
    {% endfor %}
  </section>

  <section class="todoform">
    <form action="/Add_Task" method="POST">
      <input type="text" name="taskname" placeholder="To-Do Task Name" required="required">
      <br>
      <input type="datetime-local" name="duedate" placeholder="Due date DD/MM/YYYY" required="required">
      <br>
      <button type="submit" class="button">Add To-Do Task</button>
    </form>
  </section>

  <section class="note">
    {% for note in notes %}
    <div class="note-element">
      <ol class="notes">
        <li class="notetitle">
          <a href="/View_Note/{{note.id}}">{{ note.title }}</a>
        </li>
        <br>
        <li class="notes">
          {{ note.content }}
        </li>
      </ol>

      <ol class="created-time">
        <li>
          {{ note.created_at.strftime('%d-%m-%Y %H:%M:%S') }}
        </li>
        <br>
      </ol>

      <ol class="buttons">
        <form class="edit-note" action="/Edit_Note/{{note.id}}" method="POST" aria-label="Edit Note Button Container">
          <button class="button" type="submit"><i class="fa-solid fa-pencil"></i></button>
        </form>

        <form class="delete-note" action="/Delete_Note/{{note.id}}" method="POST"
          aria-label="Delete Note Button Container">
          <button class="button" type="submit"><i class="fa-solid fa-trash-can"></i></button>
        </form>
      </ol>
    </div>
    {% endfor %}
  </section>

</div>
{% endblock %}