{% extends "base.html" %}

{% block styles %}
<link href="{{url_for('static', filename='notepage.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='note-base.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

  <section class="header">
    <form action="/Account_Settings">
      <button class="button" type="submit">Account Settings <i class="fa-solid fa-user-gear"></i></button>
    </form>
  </section>

  <section class="buttonmenu">
    <form action="/Home">
      <button class="button" role="button">Back</button>
    </form>
  </section>

  <section class="main">
    <div class="note-element">
      <div class="title">
        <h4>{{ note.title }}</h4>
      </div>
      <div class="date">
        <h5> Created at: {{ note.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</h5>
        <br>
        {% if note.updated_at is not none %}
        <h5> Updated at: {{ note.updated_at.strftime('%d-%m-%Y %H:%M:%S') }}</h5>
        {% else %}
        <h5> Updated at: Never</h5>
        {% endif %}
      </div>
      <hr>
      <div class="note-content">
        <p> {{ note.content }}</p>
      </div>

      <div class="buttongroup">
        <form class="editnote" action="/Edit_Note/{{note.id}}" method="post">
          <button class="button" role="button">Edit Note</button>
        </form>

        <form class="deletenote" action="/Delete_Note/{{note.id}}" method="post">
          <button class="button" role="button"> Delete Note</button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}