{% extends "base.html" %}
{% block styles %}
<link href="static/css/accountpage.css" rel="stylesheet">
<link href="static/media/loginmedia.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

    <section class="setting">
        <div class="button-menu-left">
            <form action="{{ url_for('web.Home')}}">
                <button class="button" type=submit>Back</button>
            </form>
        </div>
       <h4>Oops, something went wrong</h4>
       <p>Please try again later.</p>
    </section>

</div>
{% endblock %}