<!DOCTYPE html>
<html lang="en">

    <head>
        {% block styles %}{% endblock %}
        <title>Note Armadillo</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
        <script src="https://kit.fontawesome.com/c3f98b7b36.js" crossorigin="anonymous"></script>
        <link href="static/css/base.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    <body>
        {% block content %}{% endblock %}

    </body>
    {% block scripts %}
    {% endblock %}
</html>



