{% extends "base.html" %}

{% block styles %}
<link href="static/css/mainpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="header">
  </div>
  <div class="headermenu">
    <button class="addtask" role="button">Account Settings</button>
  </div>
  <div class="menu">
    <ol>
        {% for task in tasks %}
          <li>
            {{ task.taskname }}
            <br>
            {{ task.duedate }}
            <a href="/delete_task/{{task.id}}">Delete</a>
          </li>
          <hr>
        {% endfor %}
      </ol>
  </div>
  <div class="todoform">
    <form action="/addtask" method="POST">
      <input type="text" name="taskname" placeholder="To-Do Task Name" class="" required="required">
      <br>
      <input type="datetime-local" name="duedate" placeholder="Due date DD/MM/YYYY" required="required">
      <br>
      <button type="submit" class="addtask" id="addtask">Add To-Do Task</button>
    </form>
  </div>
  <div class="buttonmenu">
    <button class="addtask" role="button">New Note +</button>
  </div>
  <div class="space"></div>
  <div class="main">Notes</div>

</div>
{% endblock %}
