{% extends "base.html" %}

{% block styles %}
<link href="static/css/mainpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="header">
  </div>

  <div class="headermenu">
    <form action="{{ url_for('web.AccountSettings')}}">
      <button class="addtask" type="submit">Account Settings <i class="fa-solid fa-user-gear"></i></button>
    </form>
  </div>

  <div class="menu">
    {% for task in tasks %}
    <ol>
      <li>
        {{ task.taskname }}
        <br>
        {{ task.duedate }}
        <a href="/delete_task/{{task.id}}"><i class="fa-solid fa-trash-can"></i></a>
      </li>
      <hr>
      {% endfor %}
    </ol>
  </div>

  <div class="todoform">
    <form action="/addtask" method="POST">
      <input type="text" name="taskname" placeholder="To-Do Task Name" required="required">
      <br>
      <input type="datetime-local" name="duedate" placeholder="Due date DD/MM/YYYY" required="required">
      <br>
      <button type="submit" class="addtask">Add To-Do Task</button>
    </form>
  </div>

  <div class="buttonmenu">
    <form action="{{ url_for('web.CreateNote')}}">
      <button class="addtask" role="button">New Note <i class="fa-solid fa-pen-to-square"></i></button>
    </form>
  </div>

  <div class="space"></div>

  <div class="main">
    {% for note in notes %}
    <ol class="notes">
      <li class="notes">
        {{ note.title }}
        <br>
        {{ note.content }}
      </li>
    </ol>
    <ol class="notes">
    <li class="notes">
        {{ note.created_at }}
      </li>
    </ol>
    <ol class="notes">
      <li class="notes">
        <a href="/delete_note/{{note.id}}"><i class="fa-solid fa-trash-can"></i></a>
      </li>
    </ol>
      <hr>
      {% endfor %}
    </ol>
  </div>

</div>
{% endblock %}