{% extends "base.html" %}
{% import 'Login and Accounts/wtf.html' as wtfx %}

{% block styles %}
<link href="static/css/accountpage.css" rel="stylesheet">
<link href="static/media/loginmedia.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

    <section class="setting">
        <div class="button-menu-left">
            <form action="{{ url_for('web.Home')}}">
                <button class="button" type=submit>Back</button>
            </form>
        </div>
        <hr>
        <div class="password-form">
            <h4>Change Password:</h4>
            <form action="/Change_Password" method="POST">
                {{ passwordform.hidden_tag() }}
                {{ wtfx.form_field(passwordform.CurrentPassword, id='font', placeholder=" Old Password") }}
                {{ wtfx.form_field(passwordform.NewPassword, id='font', placeholder=" New Password") }}
                {{ wtfx.form_field(passwordform.NewPasswordRetype, id='font', placeholder="Retype Password") }}
                {{ wtfx.form_field(passwordform.PasswordUpdate) }}
            </form>
        </div>
        <hr>
        <h4> Delete Data</h4>
        <p>
            <bold>Warning!</bold>
            This is an Irreversible action!
        </p>
        <p>
            All Notes and To-Do Tasks will be deleted and non-recovereable.
        </p>
        <form action="/Delete_User" method="POST">
            <button class="button" type="submit">Delete Data</button>
        </form>

    </section>

</div>
{% endblock %}