{% extends "base.html" %}
{% block styles %}
<link href="static/css/accountpage.css" rel="stylesheet">
<link href="static/media/loginmedia.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

    <section class="setting">
        <div class="button-menu-left">
            <form action="{{ url_for('web.Home')}}">
                <button class="button" type=submit>Back</button>
            </form>
        </div>
        <hr>
        <div class="password-form">
            <h4>Change Password:</h4>
            <form action="/Update_Password" method="POST">
                <input type="text" placeholder="Current Password" required="required"
                    aria-label="Current Password input box">
                <input type="text" placeholder="New Password" required="required" aria-label="New Password input box">
                <input type="text" placeholder="Retype New Password" required="required"
                    aria-label="Retype New Password input box">
                <button class="button" type="submit">Change Password</button>
            </form>
        </div>
        <hr>
        <h4> Delete Data</h4>
        <p>
            <bold>Warning!</bold>
            This is an Irreversible action!
        </p>
        <p>
            All Notes and To-Do Tasks will be deleted and non-recovereable.
        </p>
        <form action="" method="">
            <button class="button" type="submit">Delete Data</button>
        </form>

    </section>

</div>
{% endblock %}