/* Grid Placement*/
.setting {
  grid-area: login;
  justify-items: center;
  align-items: center;
  max-width: 50%;
  margin-top: 5%;
}

.backleft {
  grid-area: backleft;
}

.backright {
  grid-area: backright;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'backleft back back back back backright'
    'backleft setting setting setting setting backright'
    'backleft back back back back backright';
  gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}

.button {
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
}


h4 {
  font-size: 17px;
  font-family: monospace;
  padding: 2px;
}

p{
  font-size: 15px;
  font-family: monospace;
  padding: 2px;
  max-width: 10 chr;
}

/* Form Items */
input[type=text]{
  padding: 10px;
  width: 50%;
  margin: 10px;
  font-size: 16px;
  font-family: monospace;
}

.button-menu-left{
  display: flex;
  justify-content: left;
  padding: 1em;
  padding-left: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}