/* Grid Placement*/
.login { grid-area: login;
        justify-items: center;
        align-items: center;}
.backleft { grid-area: backl; }
.backright { grid-area: backr; }


.grid-container {
  display: grid;
  grid-template-areas:
    'backleft backleft back back backright backright'
    'backleft backleft login login backright backright'
    'backleft backleft back back backright backright';
  gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
}

body{
    background-color: rgb(52, 92, 52);

}
img{
    max-width: 100%;
    height: auto;
}

/* Form Items */
input[type=text], input[type=password]{
    padding: 10px;
    width: 50%;
    margin: 10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.login{
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
}

hr{
    width: 75%;
}

p{
    font-size: 17px;
    font-family: monospace;
    padding: 2px;
}

.list{
    font-size: 16px;
    font-family: monospace;
    list-style: none;
}