/* Grid Placement*/
.loginspace {
    grid-area: login;
    justify-items: center;
    align-items: center;
    max-width: 50%;
    margin-top: 5%;
}

.backleft {
    grid-area: backl;
}

.backright {
    grid-area: backr;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'backleft backleft back back backright backright'
        'backleft backleft login login backright backright'
        'backleft backleft back back backright backright';
    gap: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
}

img {
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

/* Form Items */
[type="submit"],
[type="text"],
[type="password"],
#font {
    padding: 10px;
    width: 50%;
    margin: 10px;
    font-size: 16px;
    font-family: monospace;
}

.login {
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
}

hr {
    width: 75%;
}

p {
    font-size: 17px;
    font-family: monospace;
    padding: 2px;
}

.list {
    font-size: 16px;
    font-family: monospace;
    list-style: none;
}