/* Grid Placement*/
.header { grid-area: header; }
.menu { grid-area: menu;}
.main { grid-area: main; }
.buttonmenu {grid-area: buttonmenu;}
.headermenu {grid-area: headermenu;}
.todoform {grid-area: todoform;}
.space {grid-area: space;}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header headermenu'
    'menu buttonmenu space space space space'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main'
    'todoform main main main main main';
  gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(197, 72, 72, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

body{
  background-color: #d2cdcd;
}


/* Form Items */
input[type=text], input[type=datetime]{
  padding: 10px;
  width: 50%;
  margin: 10px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.addtask{
  padding: 10px;
  width: 50%;
}

.task-display{
  overflow: auto;
}
ol{
  font-size: small;
}