{% extends "base.html" %}

{% block styles %}
    <link href="static/css/loginpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

    <div class="login">
        <img src="{{url_for('static', filename='images/Note Armadillo.png')}}" alt="Logo">
        <div>
            <form action="">
                <p>Please input a username and password into the required fields below.
                    <ul>
                    <li> Password must be between 10 and 15 characters.</li>
                    </ul>

                </p>
              <input type="text" name="Username" placeholder="Username" class="" required="required">
              <br>
              <input type="password" name="Password" placeholder="Password" required="required">
              <br>
              <button type="submit" class="login">Create Account</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}