{% extends "base.html" %}
{% import 'Login/wtf.html' as wtfx %}

{% block styles %}
    <link href="static/css/loginpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

    <div class="login">
        <img src="{{url_for('static', filename='images/Note Armadillo.png')}}" alt="Logo">
        <div>
            <form action="" method="POST">
                <p>Please input a username and password <br>into the required fields.
                    <p class="list">Password must be between 8 & 20 characters</p>
                </p>
                {{ accform.hidden_tag() }}
                {{ accform.csrf_token }}
            {{ wtfx.form_field(accform.Username, id='font', placeholder="Username") }}
              <br>
              {{ wtfx.form_field(accform.Password, id='font', placeholder="Password") }}
              <br>
              {{ wtfx.form_field(accform.PasswordRetype, id='font', placeholder="Retype Password") }}
              <br>
              {{ wtfx.form_field(accform.CreateAccount) }}
            </form>
        </div>
    </div>

</div>
{% endblock %}