{% extends "base.html" %}
{% import 'Login/wtf.html' as wtfx %}

{% block styles %}
    <link href="static/css/loginpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">

    <div class="login">
        <img src="{{url_for('static', filename='images/Note Armadillo.png')}}" alt="Logo">
        <p>
            All your notes securely in one place.<br>
            You hold all your data. No online<br>
             servers required.
        </p>
        <div>
            <form action="" method="POST">
                {{ loginform.hidden_tag() }}
                {{ loginform.csrf_token }}
              {{ wtfx.form_field(loginform.Username) }}
              <br>
              {{ wtfx.form_field(loginform.Password) }}
              <br>
              {{ wtfx.form_field(loginform.Login) }}
            </form>
            <hr>
            <form action="{{ url_for('data.CreateAccountRoot')}}">
                <button type=submit class="login">Create Account</button>
            </form>
            <form action="{{ url_for('web.home')}}">
                <button type=submit class="login" href="{{ url_for('web.home')}}">Home Bypass</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}