{% extends "base.html" %}
{% import 'Login/wtf.html' as wtfx %}

{% block styles %}
    <link href="static/css/loginpage.css" rel="stylesheet">
    <link href="static/css/media/loginmedia.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="grid-container">
    <section class="loginspace">
        <img src="{{url_for('static', filename='images/Note Armadillo.png')}}" alt=" Armadillo Logo">
        <p>
            All your notes securely in one place.<br>
            You hold all your data. No online<br>
            servers required.
        </p>
        <section>
            <form action="/Login" method="POST" aria-label="Login Form">
                {{ loginform.hidden_tag() }}
                {{ wtfx.form_field(loginform.Username, id='font', placeholder="Username") }}
                {{ wtfx.form_field(loginform.Password, id='font', placeholder="Password") }}
                {{ wtfx.form_field(loginform.Login, class='button') }}
            </form>
            <hr>
            <form action="{{ url_for('data.CreateAccountRoot')}}">
                <button  class="button" type=submit class="login">Create Account</button>
            </form>
        </section>
    </section>
</div>
{% endblock %}