{% extends "base.html" %}

{% block styles %}
<link href="static/css/mainpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="header">
  </div>
  <div class="headermenu">
    <button class="AccountSettings" role="button">Account Settings</button>
  </div>
  <div class="menu">Menu</div>
  <div class="todoform">
    <form action="">
      <input type="text" name="To-Do Task Name" placeholder="To-Do Task Name" class="" required="required">
      <br>
      <input type="datetime" name="To-Do Due Date" placeholder="Due date DD/MM/YYYY" required="required">
      <br>
      <button type="submit" class="addtask">Add To-Do Task</button>
    </form>
  </div>
  <div class="main">Main</div>

</div>
{% endblock %}